/Debug/
/combine2vec.exe.stackdump
/vocab.txt
/combine2vec.exe
/cooccurrence.bin
/cooccurrence.shuf.bin
/combine.out.bin
/binary_tree.my.txt
/binary_tree.txt
/combine.count.ada.bin
/combine.count.bin
/combine.count.nodaa.iter30.bin
/combine.hs.bin
/combine.hs.shuf.bin
/combine.neg.noshuf.bin
/combine.neg.shuf.bin
